.general{
    background:rgba(5 , 36,31);
    height: 80px;
    width: 100%;
    
}

 .partiel{ 
     width: 100%;
     height: 700px;
     margin-top: -30px;
     background-image: url('../IMG/img-bg.jpg');
}

.doudou{    
    height: 670px;
    width: 1000px;
    border: rgb(0, 0, 0, 0.400) solid 1px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    
}
.profil{  
    height: 200px;
    width: 200px;
    border:white solid 1px;
    margin: -180px 190px;
    border-radius: 50%;
    float: right;

  }
  .profil img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    
  }
  
