

                  .body{
                     border: solid 1px black ;
                     height: 570px;
                      width: 680px;
                      float: left;
                      margin: -502px 537px 50px;
                      background-color: #f8fdfd;
                      border-radius: 10px;
  

                       }
                       
                    .creer-question{
                        
                        height: 400px;
                        width: 600px;
                        margin: auto;
                        border-radius: 5px;
                       
                       }
                       .button{
                        height:40px;
                        width:100px ;
                        background-color:rgba(0, 128, 122, 0.774);
                        border-radius: 5px;
                        float: right;
                       }

                    .supprime{
                          height:30px;
                          width: 30px;
                          

                        }

                        label{
                            font-size: 22px;
                        }
                        input{
                            background-color: rgba(0, 0, 0, 0.062);
                            border-radius: 5px;
                        }
                        textarea{
                            background-color: rgba(0, 0, 0, 0.062);
                        }
                        select{
                            background-color: rgba(0, 0, 0, 0.062);
                            border-radius: 5px;
                        }
                        
                    
                