
                 .bady{
                    border: solid 1px rgba(0, 0, 0, 0.253) ;
                    height: 500px;
                    width: 680px;
                    float: left;
                    margin: -603px 570px 50px;
                    background-color: #f8fdfd;
                    border-radius: 20px;

                    }
                    .nombre{
                        text-align: center;
                        width: 600px;
                        height: 80px;
                        
                        font-size: 30px;
                        margin: 20px;
                        color: rgba(0, 0, 0, 0.459);
                       }
                       .liste-question{
                        border: solid 1px rgba(0, 128, 122, 0.774);
                        height: 350px;
                        width: 590px;
                        margin: -40px 0px 0px 43px ;
                        border-radius: 5px;
                        
                       }
                       .bouton{
                        background-color: rgba(0, 128, 122, 0.774);
                        color:white;
                        width: 100px;
                        height: 40px;
                        border-radius: 5px;
                        font-size: 15px;
                       
                        
                      }
                      
                      
                      
                      
                      
                      
                      
                      

                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                