.general{
    background:rgba(5 , 36,31);
    height: 80px;
    width: 100%;
    
}

 .partiel{ 
         width: 100%;
         height: 700px;
         margin-top: -30px;
         background: url('../IMG/img-bg.jpg');
}
.maket{

    background-color:#f2f2f2;
    width: 1300px;
    height: 660px;
    margin: auto;   
    
}
.login{
    height: 80px;
    width: 1300px;
    background-color: rgba(0, 128, 122, 0.774);
    margin-top:-20px;
}
.echap{
    float: right;
    margin-top: -40px;
    
}
.creer{
    text-align: center;
    
}
.nene{
    height: 450px;
    width: 490px;
    margin: 60px 40px;
    background-color: #F8FdFd;
    border-radius: 10px;
  }

.nono{
    height: 200px;
    width: 490px;
    background-color: rgba(0, 128, 122, 0.774);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
      
        }
          .dada{
            height: 140px;
            width: 140px;
            border: white solid 1px;
            margin: 0 40px;
            border-radius: 50%;
        

          }

          .dada img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

.dodo{
    color: white;
    font-size: 30px;
    float: left;
    margin: -130px 220px;
    font-family: 'Times New Roman', Times, serif;
}
    .nana{
float: left;
font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 10px;
    }

    .nina{
float: right;
position: relative;
margin: -25px -263px ;
    }

 .nana1{       
    float: right;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px 0px 0px;
    height: 60px;
    width: 490px;
    
    position: absolute;
    

    }

    .nina1{
float: right;
margin: -45px 9px ;
    }

    .cree1{
        float: left;
        margin:-50px 10px;
        
    }
    .nana2{
        float: left;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 7px;
            }
        
    .nina2{
        float: right;
        position: relative;
        margin: -25px -290px ;
            }

            .nana3{
                float: left;
                font-size: 25px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin: 7px;
                    }
                
             .nina3{
                float: right;
                position: relative;
                margin: -25px -257px ;
            
                    }

  
